<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Halaman Utama
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-section">
    <ion-card class="profile-card">
      <ion-card-header>
        <ion-card-title>Hi, I'm Magdalena Rohmannawati</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can call me Lena. My NIM is H1D02203.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
